[Unit]
Description=Home Assistant
After=network-online.target mqtt.service dbus-proxy.service
Wants=network-online.target
Requires=mqtt.service dbus-proxy.service

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:latest
Network=host
Volume=/home/cle/Source/selfhost/config:/config
Volume=%t/dbus-proxy/system_bus_socket:/run/dbus/system_bus_socket
Environment=TZ=Asia/Ho_Chi_Minh

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
