[Unit]
Description=Mosquitto MQTT Broker
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=mqtt
Image=docker.io/library/eclipse-mosquitto:2.0
User=0:0
Volume=/home/cle/Source/selfhost/mosquitto-data:/mosquitto
PublishPort=1883:1883
PublishPort=9001:9001
Exec=mosquitto -c /mosquitto-no-auth.conf

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
