[Unit]
Description=Obico Web
After=network-online.target obico-redis.service obico-ml-api.service obico-collectstatic.service obico-migrate.service
Wants=network-online.target
Requires=obico-redis.service obico-ml-api.service obico-collectstatic.service obico-migrate.service

[Container]
ContainerName=obico-web
Image=ghcr.io/gabe565/obico/web:latest
Network=obico.network
NetworkAlias=web
HostName=web
EnvironmentFile=/home/cle/Source/selfhost/obico.env
Volume=/home/cle/Source/selfhost/obico/data:/data
Volume=/home/cle/Source/selfhost/obico/static:/app/static_build
PublishPort=3334:3334
Exec=python manage.py runserver --noreload 0.0.0.0:3334

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
