[Unit]
Description=Obico ML API
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=obico-ml-api
Image=ghcr.io/gabe565/obico/ml-api:latest
AutoUpdate=registry
HostName=ml_api
PublishPort=127.0.0.1:3333:3333
Environment=DEBUG=True
Environment=FLASK_APP=server.py
Exec=gunicorn --bind=0.0.0.0:3333 --workers=1 --access-logfile=- wsgi

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
