*

!.gitignore
!quadlet/
!quadlet/**
!proxmox/
!proxmox/*.md
!proxmox/opentofu/
!proxmox/opentofu/*.tf
!proxmox/opentofu/*.hujson
!proxmox/opentofu/*.md
!proxmox/opentofu/.gitignore
!proxmox/opentofu/.terraform.lock.hcl
