*

!.gitignore
!AGENTS.md
!config/
!config/configuration.yaml
!config/automations.yaml
!quadlet/
!quadlet/**
!proxmox/
!proxmox/*.md
!proxmox/opentofu/
!proxmox/opentofu/*.tf
!proxmox/opentofu/*.hujson
!proxmox/opentofu/*.md
!proxmox/opentofu/.gitignore
!proxmox/opentofu/.terraform.lock.hcl
