*

!.gitignore
!AGENTS.md
!config/
!config/configuration.yaml
!config/automations.yaml
!scripts/
!scripts/wait-ha-mdns-ready
!quadlet/
!quadlet/**
!systemd/
!systemd/user/
!systemd/user/podman-auto-update.service
!systemd/user/podman-auto-update.timer
!proxmox/
!proxmox/*.md
!proxmox/opentofu/
!proxmox/opentofu/*.tf
!proxmox/opentofu/*.hujson
!proxmox/opentofu/*.md
!proxmox/opentofu/.gitignore
!proxmox/opentofu/.terraform.lock.hcl
